.custom_card_area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: auto;
}
.custom_icons_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}